
/* Your CSS Code here. */
   table {
            border-collapse: collapse;
            width: 550px;
        }

        th, td {
            border: 1px solid black;
            padding: 4px;
            text-align: right;
        }

        th {
            background-color: #c05050;
            color: white;
            text-align: left;
        }

        td:first-child {
            text-align: left;
        }

        tbody tr:nth-child(1) {
            background-color: #d99696;
        }

        tbody tr:nth-child(2) {
            background-color: #eedada;
        }

        tbody tr:nth-child(3) {
            background-color: #e6e6e6;
        }
    </style>